<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registeration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<h1 style="color: maroon" class="pl-1">Let's start</h1><br>
<form action="register-user", method="post">
<pre>
    First Name: <input type="text" name="firstName">
    Last Name: <input type="text" name="lastName">
    Email:<input type="text" name="email">
    Password:<input type="password" name="password">
    Confirm Password:<input type="password">
    <br>
    <input type="submit" class="btn btn-secondary" value="Register" >
</pre>
</form>
</body>
</body>
</html>